@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Playfair+Display:ital,wght@1,600&display=swap');

@import "tailwindcss";


@layer components {
  .assignment-overdue {
    @apply border-l-4 border-l-red-600 bg-red-50;
  }
  
  .assignment-due-today {
    @apply border-l-4 border-l-orange-500 bg-orange-50;
  }
  
  .assignment-due-tomorrow {
    @apply border-l-4 border-l-amber-400 bg-amber-50;
  }
  
  .assignment-due-soon {
    @apply border-l-4 border-l-green-500 bg-green-50;
  }

  .urgency-critical {
    @apply border-l-4 border-l-red-600 bg-red-50;
  }
  
  .urgency-high {
    @apply border-l-4 border-l-orange-500 bg-orange-50;
  }
  
  .urgency-medium {
    @apply border-l-4 border-l-amber-400 bg-amber-50;
  }
  
  .urgency-low {
    @apply border-l-4 border-l-green-500 bg-green-50;
  }
}